.app-hdr{
    margin-bottom: 40px;
}
.home-icon, .menu-icon{
    cursor: pointer;
    margin-right: 10px;
}
.app-hdr .nav-div{
    position: absolute;
    right: 10px;
}
.link-css{
  text-decoration: none;
  color: inherit;
}
