<div class="add-container">
  <mat-card class="pd20 mat-elevation-z8">
    <h4>{{isEdit?"Modify":"Add"}}</h4>
    <form [formGroup]="addEmployeeForm" (ngSubmit)="addSubmit()" class="add-form">
      <mat-form-field class="add-form-field">
        <mat-label>Employee ID</mat-label>
        <input matInput type="text" formControlName="empId" />
        <mat-error *ngIf="addEmployeeForm.get('empId').touched && addEmployeeForm.get('empId').invalid">
          <span *ngIf="addEmployeeForm.get('empId').errors?.required">Please enter Employee Id</span>
          <span *ngIf="addEmployeeForm.get('empId').errors?.pattern">Please enter a valid Employee Id</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="add-form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error *ngIf="addEmployeeForm.get('name').touched && addEmployeeForm.get('name').invalid">
          <span *ngIf="addEmployeeForm.get('name').errors?.required">Please enter Employee Name</span>
          <span *ngIf="addEmployeeForm.get('name').errors?.maxlength || addEmployeeForm.get('name').errors?.minlength">Please enter a Name between 3 and 50</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="add-form-field">
        <mat-label>Designation</mat-label>
        <input matInput type="text" formControlName="designation" />
        <mat-error *ngIf="addEmployeeForm.get('designation').touched && addEmployeeForm.get('designation').invalid">
          <span *ngIf="addEmployeeForm.get('designation').errors?.required">Please enter Designation</span>
          <span *ngIf="addEmployeeForm.get('designation').errors?.maxlength || addEmployeeForm.get('designation').errors?.minlength">Please enter a Desg between 3 and 50</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="add-form-field">
        <mat-label>Domain</mat-label>
        <input matInput type="text" formControlName="domain" />
        <mat-error *ngIf="addEmployeeForm.get('domain').touched && addEmployeeForm.get('domain').invalid">
          <span *ngIf="addEmployeeForm.get('domain').errors?.required">Please enter Domain</span>
          <span *ngIf="addEmployeeForm.get('domain').errors?.maxlength || addEmployeeForm.get('domain').errors?.minlength">Please enter Domain petween 3 and 50</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="add-form-field">
        <mat-label>Role</mat-label>
        <mat-select (selectionChange)="roleChanged($event)" formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">{{
            role
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <div formArrayName="roleType">
    <ng-container *ngFor="let control of roleFormArray.controls; let i = index">
      <mat-form-field>
        <mat-label></mat-label>
        <input matInput type="text" [formControlName]="i" />
      </mat-form-field>
    </ng-container>
  </div> -->
      <div class="add-radio" *ngIf="addEmployeeForm.value.role === 'Tester'">
        <mat-label>Testing Type:</mat-label>
        <mat-radio-group aria-label="Select an option" color="primary" formControlName="testingType">
          <mat-radio-button value="auto">Automated</mat-radio-button>
          <mat-radio-button value="manual">Manual</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button class="login-btn" type="submit" mat-raised-button color="primary">
          {{isEdit?"MODIFY":"ADD"}}
        </button>
      </div>
    </form>
  </mat-card>
</div>
