<div class="home-container">
    <div>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input type="text" matInput (input)="filterChange($event.target.value)" />
        </mat-form-field>
        <div class="add-block" (click)="navigateToAdd()">
            <mat-icon color="primary">add_circle</mat-icon><span>Add Employee</span>
        </div>
    </div>
    <table mat-table [dataSource]="employeeList" class="mat-elevation-z8" *ngIf="employeeList.data && employeeList.data.length > 0; else noEmpList">
        <mat-text-column name="name" headerText="Name"></mat-text-column>
        <mat-text-column name="empId" headerText="Employee ID"></mat-text-column>
        <mat-text-column name="role" headerText="Role"></mat-text-column>
        <mat-text-column name="domain" headerText="Domain"></mat-text-column>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="mat-18 cursor-ptr" (click)="editEmployee(element, 'edit')">edit</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="mat-18 cursor-ptr" (click)="editEmployee(element, 'delete')">delete</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnList"></tr>
        <tr mat-row *matRowDef="let row; columns: columnList"></tr>
    </table>
</div>
<ng-template #noEmpList>
    <div>
        No records found
    </div>
</ng-template>
<app-modal *ngIf="showModal" (closeModal)="closeModal($event)">Do you want to delete the employee {{modalData.name}}?</app-modal>
<div class="loader" *ngIf="showLoader">
    <mat-spinner color="warm" diameter="50" strokeWidth="8"></mat-spinner>
</div>