.home-container{
    width: 80%;
    margin: auto;
}
.home-container table{
    width: 100%;
}
table .mat-header-cell{
    font-size: 15px;
}
.add-block{
    display: flex;
    align-items: center;
    float: right;
    cursor: pointer;
}
.add-block span{
    margin-left: 5px;
}